
*, body{
    margin: 0;
    padding: 0;
}

header{
    padding:0;
    margin: 0;
    margin-top: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
    height:auto;
    clear: both;
}

.texto-destacado {
    text-decoration: none;
    width: 100px;
    text-align: center;
    vertical-align: center;
    margin:initial;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.texto-escuro{
    color:#000a;
    text-decoration:none;
    font-weight: 500;
    margin: 10px;
}

.texto-lista{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 9px;
    border-bottom: 3px solid white;
}
.texto-lista:hover{
    color: #0098d3;
    border-bottom-color:#0098d3
}

.texto-destacado-icone{
    font-size: 1.4em;
    margin: none;
    margin-top: 6px;
    padding: 0;
    vertical-align: top;
    margin-right: 20px;
}  
.texto-destacado-icone>.bi:hover{
    color:#000a;
}
