
*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(248, 250, 251);
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

header{
    padding:0;
    margin: 0;
    height:116px;
    width: 100%;
    border:none;
    border-bottom:1px solid #c8c8c8;
    background-color: white;
}

main{
    width: 65%;
    margin: auto;
    margin-top: 0px;
    padding:0;
    padding-top: 20px;
    padding-bottom: 20px;
}


.cardes{
    height:268px;
    background-color: white;
    width: 210px;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 2px;
    float: left;
    margin: 10.5px;
    box-shadow: 0.1px 0.1px 10px rgb(126, 154, 166); 
    transition: transform 1s;
    transform: translateX(0) scale(1);
}   

.cardes:hover{
    transform: translateX(1px) scale(1.1);
}

#pesquisa{
    border-left:none;
    width: 200px;
}
#pesquisa::placeholder{
    color: rgb(126, 154, 166);
}
.navbar > .col-xs:last-child{
    margin-right: 50px;
}
.navbar > .col-xs:first-child{
    margin-left: 20px;
}
figcaption{
    width:100%;
    text-align: start;
    margin: 10px;
    margin-bottom: 2px;
    font-weight: 400;
}

figure > p { 
    margin-left: 10px;
    font-size: .8em;
    text-align: start;
    width: 100%;
    color:rgb(126, 154, 166);
    font-family: Arial;
}


.texto-destacado {
    text-decoration: none;
    width: 100px;
    text-align: center;
    vertical-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.texto-escuro{
    font-family: Arial;
    margin-top: 10px;
    color:#000a;
    text-decoration:none;
    font-weight: 400;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border:none;
    background-color: white;
}

.texto-lista{
    padding:0;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}
.texto-lista:hover{
    color: #0098d3;
    border-bottom-color:#0098d3
}

.texto-destacado-icone{
    font-size: 1.4em;
    margin: none;
    margin-top: 6px;
    padding: 0;
    vertical-align: top;
    margin-right: 20px;
}  
.texto-destacado-icone>.bi:hover{
    color:#000a;
}
.texto-destacado-icone:last-child{
    margin-right:50px;
}


/** buttons nv hover*/
.lista-tendencias,
.lista-pet,
.lista-exibir,
.lista-moda,
.lista-bebes{
    display: inline-block;
    padding:0;
    font-size: .9em;
    margin: 0;
}

.lista-tendencias  ul, 
.lista-exibir  ul, 
.lista-moda  ul, 
.lista-pet  ul, 
.lista-eletronicos  ul, 
.lista-bebes ul
{
  list-style:none;
  display:inline-block;
  text-align: start;
}

.lista-exibir ul  ul,
.lista-tendencias ul  ul,
.lista-pet ul  ul,
.lista-eletronicos ul  ul,
.lista-moda ul  ul,
.lista-bebes ul ul{
  display:none;
  width:116px;
  border:none;
}

.lista-tendencias ul ul #btn-tendencia:hover>ul,
.lista-exibir ul ul #btn-exibir:hover>ul,
.lista-eletronicos ul ul #btn-eletronicos:hover>ul,
.lista-pet ul ul #btn-pet:hover>ul,
.lista-moda ul ul #btn-moda:hover>ul,
.lista-bebes ul ul #btn-bebes:hover>ul{
    display:block;
    position: absolute;
}

.lista-tendencias ul ul li >ul,
.lista-eletronicos ul ul li >ul,
.lista-exibir ul ul li >ul,
.lista-bebes ul ul li >ul,
.lista-pet ul ul li >ul,
.lista-moda ul ul li >ul{
  display:none;
}

.lista-tendencias ul li:hover >ul,
.lista-bebes ul li:hover >ul,
.lista-exibir ul li:hover >ul,
.lista-eletronicos ul li:hover >ul,
.lista-pet ul li:hover >ul,
.lista-moda ul li:hover >ul{
 display:block;
}

.list-group-item {
    border-bottom-color: white;
    border-radius: 0;
    font-size: .8em;
    z-index: 9999;
}

.list-group-item:nth-last-child(){
    border-bottom-color: black;
}
.list-group-item:hover{
    color:white;
    background-color: #0098f399;
}
